<div class="group" id="group-historical-data" data-target="details-panel-historical-data">
	<div class="collapse-icon">▶</div>
	<div data-i18n="historic_data" class="group-title"></div>
</div>
<div class="details-panel" id="details-panel-historical-data">
	<div class="chart-switches">
		<div class="chart-frequency-switch">
		  <label class="chart-frequency-switch-label" data-i18n="chart_frequency_switch_label"></label>

		  <div class="chart-frequency-switch-segment">
			  	<button class="chart-frequency-switch-option" data-freq=1 data-i18n="chart_frequency_switch_daily"></button>
			  	<button class="chart-frequency-switch-option" data-freq=7 data-i18n="chart_frequency_switch_weekly"></button>
				<button class="chart-frequency-switch-option" data-freq=30 data-i18n="chart_frequency_switch_monthly"></button>
		  </div>
		</div>
		<div class="chart-period-switch">
		  	<label class="chart-period-switch-label" data-i18n="chart_period_switch_label"></label>

		  	<div class="chart-period-switch-segment">
			  	<button class="chart-period-switch-option" data-period=365 data-i18n="chart_period_switch_year"></button>
				<button class="chart-period-switch-option" data-period=730 data-i18n="chart_period_switch_2years"></button>
				<button class="chart-period-switch-option" data-period=1100 data-i18n="chart_period_switch_3years"></button>
		  	</div>
		</div>
	</div>
	<div class="graph-holder">
		<canvas class="chart" id="chart-1"></canvas>
	</div>
	<div>
		<p class="chart-description" id="chart-description-1" data-i18n="chart_description_1"></p>
	</div>
</div>