<div class="group" id="group-return-ratios" data-target="details-panel-return-ratios">
	<div class="collapse-icon">▶</div>
	<div data-i18n="return_ratios" class="group-title"></div>
</div>
<div class="details-panel" id="details-panel-return-ratios">
	<div class="stats-list">
		<label data-i18n="weighted_average_portfolio_return"></label>: <span id="wAPR"></span>
		<p data-i18n="weighted_average_portfolio_return_description"></p>
		<label data-i18n="expected_portfolio_return"></label>: <span id="ePR"></span>
		<p data-i18n="expected_portfolio_return_description"></p>
	</div>
</div>