<div class="group" id="group-return-ratios" data-target="details-panel-return-ratios">
	<div class="collapse-icon">▶</div>
	<div data-i18n="return_ratios" class="group-title"></div>
</div>
<div class="details-panel" id="details-panel-return-ratios">
	<div class="stats-list">
		<label data-i18n="weighted_average_portfolio_return"></label>: <span id="WAR"></span> (<span data-i18n="annual_return_for_period"></span> <span id="WARPeriod"></span>)
		<p data-i18n="weighted_average_portfolio_return_description"></p>
		<label data-i18n="expected_portfolio_return"></label>: <span id="CAPM"></span> (<span data-i18n="annual_return_for_period"></span> <span id="CAPMPeriod"></span>)
		<p data-i18n="expected_portfolio_return_description"></p>
	</div>
</div>