.sidebar {
    width: 380px;
    height: 100%;
    background: #020617;
    border-right: 1px solid #1e293b;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 16px;
}

.assets-list,
.assets-search {
    flex: 1;
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 12px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50%;
    min-height: 0;
}

input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #020617;
    color: #e5e7eb;
    caret-color: #38bdf8;
}
input::placeholder {
    color: #64748b;
}
input:focus {
    outline: none;
    border-color: #38bdf8;
}

.delete-btn,
.add-btn {
    padding: 6px 10px;
    background: #1e293b;
    border: 1px solid #334155;
}

.delete-btn:hover,
.add-btn:hover {
    background: #334155;
}

.search-result-item,
.selected-asset-item {
    display: grid;
    grid-template-columns: 48% 20% 20% 10%;
    justify-content: center;
    column-gap: 1%;
}

.asset-value-input,
.asset-amount-input {
    padding: 6px 10px;
}

.scroll-box {
    flex: 1;
    max-height: 100%;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 6px;

    padding-right: 4px;
}

.tooltip {
    position: relative;
    cursor: default;
    color: #38bdf8;
    font-size: 14px;
    margin-left: 6px;
}

.tooltip-text {
    position: fixed;
    color: #020617;
    background: #e5e7eb;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    z-index: 9999;
    pointer-events: none;
    white-space: normal;
    display: none;
}

.tooltip:hover .tooltip-text,
.tooltip:focus-within .tooltip-text {
    opacity: 1;
}
